
<h2>Thanks <%= @pledge.name %>!</h2>

<p>You're welcome to  <%= link_to "register your bicycle here", new_bike_reg_path %>, if you'd like,
  or maybe you'd rather just <%= link_to "be happy", "https://www.youtube.com/watch?v=y6Sxv-sUYtM" %>.
  </p>



