<h1>View recent registrations</h1>

<ul>
<% @bike_regs.each do |bike_reg| %>
<li> <%= link_to bike_reg.xyz_code, bike_reg_path(bike_reg.xyz_code) %> <%= bike_reg.color %> <%= bike_reg.brand %> </li>
<% end %>
</ul>
