<% @bike_reg.xyz_code = LookupCode.next_code.xyz_code %>
<h2><span class="regcode"><%= @bike_reg.lookup_label %></span></h2>
<br>
<p>
  <strong>IMPORTANT:</strong>
  After registering your bike, you will need to <strong>permanently</strong>
  mark your bike with the web address shown above.
  If you don't like this code, <a href="<%= new_bike_reg_path %>">click here to get a new one</a>.
</p>

<%= render 'form' %>

