
<% @bike_reg.xyz_code = LookupCode.next_code.xyz_code %>
<h1><span class="regcode">bikexyz.com/<%= @bike_reg.xyz_code %>
</span></h1>

<p class="formhint">
  IMPORTANT:
  After registering your bike, you will need to <strong>permanently</strong>
  inscribe/paint/print this URL onto your bike.
  If you don't like this current code, <a href="<%= new_bike_reg_path %>">click here to get a new one</a>.
</p>

<%= render 'form' %>

<%= link_to 'Back', bike_regs_path %>
