<h1>Search</h1>

<p> 
  You can use this search to try and find a particular registration. If your query doesn't 
  find the bike that you're looking for, try adding more search words. Searching for your email address 
  or a person's name should work well.
</p>

<%= form_tag({:controller => :bike_regs, :action => :search}, :method => :get) do %>

  <div class="row">
    <div class="col-xs-8 col-sm-6 col-md-4 col-lg-4">

      <%= search_field_tag :query, @query, :class => 'form-control', :placeholder => "search words...", :autofocus => true %>

    </div>
    <div class="col-xs-3 col-sm-4 col-md-2">
    
      <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-search"></span> Search
      </button>

    </div>
  </div>

<% end %>

<%# = render :partial => "grid" %>
  
<% if @search_results.present? %>

  <h3>Results</h3>

  <%= render :partial => 'bike_list', :locals => { :bike_list => @search_results } %>

<% end %>
