<div class="container margin-top-20">

  <table width="100%">
    <tr><td valign="center" align="center" width="25%">
      <%= image_tag "logo_med.jpg" %>
    </td><td width="75%">
      <h1>Free Bicycle Registration That Works</h1>
    
      <p class="lead">bikexyz.com is a bicycle registration service that is simple and effective.
        Register to get a unique web address for your bicycle.
      </p>
      
      <h2 align="center" class="regcode"><span class="regcode">bikexyz.com/register</span></h2>
      
      <p class="lead">If you know what to do with that, you know how to check
        a bikexyz.com registration. By making it insanely trivial to check, we
        make bicycle registration actually work.
      </p>
    </td></tr>
  </table>  

</div>