<div style="min-width: 500px;">
<div class="front-page-bg">
  <div class="front-page-hd-img">
    bikexyz.com
  </div>
  <div class="front-page-fg">
    <div class="container">
      <div align="center">
        <br><br><br><br>
        <p style="width: 12em; font-size: 200%; color: #009245; opacity: .9; background-color: #eee;">register</p>
      </div>
      <div align="center">
        <br><br>
        <p style="width: 12em; font-size: 200%; color: #009245; opacity: .9; background-color: #eee;">search</p>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>
  
</div>


</div>