<div class="front-page-bg">
  <div class="front-page-hd-img">
    bikexyz.com
  </div>
  <div class="front-page-fg">
    <div align="center">
      <%= link_to "pledge", xpledge_path, :class => "front-page-link" %>
    </div>
  </div>
  <div class="front-page-fg">
    <div align="center">
      <%= link_to "register", new_bike_reg_path, :class => "front-page-link" %>
    </div>
  </div>
  <div class="front-page-fg">
    <div align="center">
      <%= link_to "more", more_path, :class => "front-page-link" %>
    </div>
  </div>
</div>

