<h1>bikeXyz.com</h1>

<p>
  This is a brand new site, completely non-functional at this point. The aim is to create a 
  bicycle bicycle service that actually works. By that we mean, actually will help
  victims of bicycle theft to recover their bicycles.
</p>

<p>
  Here's how works:
</p>

<ol style="margin-left: 30px;">
  <li> Register your bike on bikeXyz.com. </li>
  <li> Get your unique URL. </li>
  <li> Permanently affix/mark the URL onto your bicycle. </li>
</ol>

<p>  
  Hopefully that's it, but IF if your bicycle is stolen:
</p>

<ol style="margin-left: 30px;">
  <li> You return to bikeXyz.com and update your entry to say that the bike is stolen. </li>
  <li> Anybody who buys/finds/sees the bicycle sees the URL. </li>
  <li> The new "owner" or their friend or random stranger visits the URL in any web browser and learns that the bicycle is stolen. </li>
  <li> The new "owner" or friend or random stranger notifies you that it's found/seen and where. </li>
  <li> You get your bike back. </li>
</ol>

<p>
  That's the basic scenario. Of course there are other ways it can play out.
</p>

<p>
  Fundamentally, the problem with most bicycle bicycle services is that nobody checks them, or knows how/where to check them.
  Well, the police do, but how often does a stolen bicycle end up with the police? You cannot depend on that happening.
  With bikeXyz bicycle your chances of recovery go <i>way, way</i> up.
</p>

<p>
  The more obvious and permanent you make the URL on your bike, the better your chances of recovery.
  Clearly there are trade-offs here. We'll be working to figure out options for marking, both 
  in the spirit of uglifying your bike, and also in the spirit of trying to maintain some decorum.
  Ultimately, it's up to you as to how you want to get it on the bike.
</p>

<h2>FAQ</h2>

<p> (Nobody's actually asked anything yet since this is totally new, but here we go anyway...)
</p>

<p>
  <b>Can't I just create my own page on the internet and do it all myself?</b>
  <br>
  Yes! We're just trying to make it easier
  and more recognizable. Once people become familar with "bikeXyz.com" it'll become more common to check it, and
  it might even serve as a deterrent to thieves.
</p>

<p>
  <b>What if I don't want an ugly URL on my super-cool bicycle?</b>
  <br>
  No problem. You don't need us. Go use any or all of <a href="https://www.google.com/search?q=bicycle+bicycle">the other bicycle bicycle services</a> out there.
  (Well, you could use it just to create a page for your bicycle. We're not
  going to come check your bike to make sure the URL is on there.)
</p>
