<h2>Verification email sent</h2>

<p>
  We just sent an email to <%= hide_email(@email) %> with a link.
  Retrieve that email, and click the link there to verify your identity.
</p>

<p>
  mahalo
</p>


<p> p.s. The email is from "robot@<%= SITE_EMAIL_DOMAIN %>" and the subject is "<%= SITE_TITLE_DOMAIN %> identity verification".
  It might have wandered into your junk mail folder.
  </p>