body {
  padding-top: 20px;
}
.min50 {
  min-width: 50px;
}

ul.nav-menu {
  padding-left: 0px;
}

.nav-menu li {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
}

.nav-menu li a {
  padding: 10px;
  margin-left: 0px;
  border: 0px;
  white-space: nowrap;
  background-color: #009245;
  color: #fff;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-menu li a:hover {
  background-color: #006837;
}

.verified_notice {
  float: right;
  font-size: 90%;
}

.nowrap {
  white-space: nowrap;
}

h2.regcode {
  margin-bottom: 20px;
}

span.regcode {
  color: #006837;
  font-weight: bold;
  border: 2px solid #006837;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-20 {
  margin-top: 20px;
}

#footer {
}

.copy-notice {
  margin-top: 50px;
}

.diagram {
  padding: 5px;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border :1px solid green;
}

.bg-gray {
  background-color: #aaa;
}

.bg-blue {
  background-color: #55a;
  color: #eee;
}