* {
    font-family: Verdana, Geneva, sans-serif;
}

input, textarea, select {
/*    font-family: "Courier New", Courier, monospace;*/
    color: #060;
}

.userdata {
  color: #060;
}

.regcode {
  background: #efe;
  font-weight: bold;
  border: 2px solid #060;
  border-radius: 8px;
  padding: 4px;
}

/*input, textarea {
    font-weight: bold;
}*/

.formhint {
    font-size: 75%;
    color: #999;
}

.bigsubmit {
  font-size: 110%;
  font-weight: bold;
  color: #006;
}

a {
  color: #030;
}

a.navlink {
  background-color: #eee;
  font-size: 90%;
  border-radius: 5px;
  padding: 3px;
  text-decoration: none;
  border: 1px solid #030;
  white-space: nowrap;
}

a.navlink:hover {
  background-color: #ccf;
  color: #060;
}

footer {
  font-size: 80%;
  border-top: 1px solid #999;
  margin-top: 20px;
  clear: both;
}

header {
  margin-bottom: 5px;
}

.verified_notice {
  float: right;
  font-size: 90%;
}

.flash_alert {
  font-weight: bold;
  color: #c00;
}

.flash_notice {
  font-weight: bold;
  color: #0c0;
}

.maincontent {
  margin-left: 3%;
  margin-right: 3%;
}

#show-reg {
  width: 100%;
}

#reg-text {
  float: left;
}

#reg-photos {
  width: 310px;
  float: right;
}
